<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Sam Neamah</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
 <!-- Background image -->
  <div class="p-5 text-center bg-image" style="
      background-image: url('https://www.creativefaze.com/sites/default/files/web-development-university-worcester-course-page-header.jpg');
      height: 200px;
      margin-top: 1px;
    ">
    <div class="mask" style="background-color: rgba(111, 111, 111, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 header_h1">Full Stack Developer</h1>
          <p class="mb-3 par">Build your website in professional </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->