<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main style="margin-top:2px;">
  <div class="jumbotron" class="mt-2">
    <h1 class="summary">Summary</h1>
    <ul class="summary-menu">
    <li>5 years of experience working in corporate environment as a front-end Web Developer. Strong technical skills in complex website development including web-based applications.</li>
    <li>Experience developing web applications utilizing JavaScript, HTML5, CSS, JSON, Angular, bootstrap, Angular Material and integrating Restful API’s.</li>
    <li>Experience in developing Single Page Applications using Angular(2 - 12), Vue.</li>
    <li>Worked in Angular for developing apps, custom components, services, directives, and routing, testing which meet requirements of business model.</li>
    <li>Experience creating TypeScript reusable components and services to consume REST API Using Component based architecture provided by Angular.</li>
    <li>Good understanding of Document Object Model (DOM).</li>
    <li>Experience in Database Technologies including RDMBS like MySQL and NoSQL like MongoDB.</li>
    <li>Experience  in using IDEs like Notepad++, WebStorm, visual studio code and Visual Studio.</li>
    <li>Experience in  PHP (server-side scripting language).</li>
    <li>Experience in server-side JavaScript (Nodejs and express).</li>
    <li>Experience in Git for source code management and for version control.</li>
    <li>Strong understanding and experienced with all the phases of SDLC and Agile development methodologies including SCRUM, involved in daily Scrum meetings to keep track of the ongoing project status and issues using JIRA.</li>
    <li>Checked Cross Browser Compatibility of different elements and tags hence worked on different browsers like Internet Explorer, Google Chrome, Firefox, Opera, and Safari. </li>
      <li>Adaptive learner with capability to learn modern technologies quickly and oversee them with accuracy and efficiency.  </li>
    <li>Ability to work in groups or alone, Ability to work on tight schedules. </li>
    <li>Good interpersonal abilities, time management and team skills with an intention to work hard to meet project deadlines. </li>
</ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>